.large.centered.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.medium.row {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.controls {
    cursor: pointer;
    padding: 1rem;
}

.react {
    will-change: transform;
}